@model CaptchaMvc.Models.DefaultBuildInfoModel

<label for="input-CaptchaInputText">Ingresa el c&oacute;digo que se ve en la imagen</label>

<div class="form-group">
    <div class="captcha panel panel-default">
        <div id="recaptcha_image" style="width: 200px; height: 70px;">
            <img id="@Model.ImageElementId" src="@Model.ImageUrl" />
            @Html.Hidden(Model.TokenElementId, Model.TokenValue)
        </div>
    </div>
        <div class="input-group">
            @{
                
                string id = Guid.NewGuid().ToString("N");
                string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
                <script type="text/javascript">

                    $(function () {
                        $('#@id').show();
                    });


                    function @functionName {
                            $('#@id').hide();
                        $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
                            function () {
                                $('#@id').show();
                            });
                        return false;
                    }
                </script>
                
            }
            @if (Model.IsRequired)
            {
                @Html.TextBox(string.Format("input-{0}", Model.InputElementId), null, new Dictionary<string, object>
                                                  {
                                                      {"data-val", "true"},
                                                      {"data-val-required", Model.RequiredMessage},
                                                      {"class","form-control"}
                                                  })
            }
            else
            {
                @Html.TextBox(string.Format("input-{0}", Model.InputElementId), null, new { @class = "form-control" })
            }
            @Html.ValidationMessage(Model.InputElementId)
            <a href="#captcha panel panel-default" class="btn btn-default input-group-addon" id="@id" onclick="@functionName" style="display: none;" title="Generar nuevo c&oacute;digo"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>





